//div {
    outline: 1px solid black
}

div.logo {
 display: flex;
justify-content: center; 
    padding-top: 15px;
    padding-bottom: 15px;
}
div.fas.fa-map-marker-alt.fa-x {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: hidden;
    background-color: #f2f2f2   
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 25px
}
.Content p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
}
h2 {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    //border: 1px solid black;
   // width: 300px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 19px;
}

div.sidebar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-left: 15px;
    font-size: 25px;
    
}
button.button-1 {
    display: flex;
    justify-content: center;
   align-items: center;
    border: 1px gray;;
    box-shadow: 4px 7px 14px -2px rgba(0, 0, 0, 0.20);
    margin-top: 3em;
    height: 55px;
    width: 500px;
    border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}
span.button-icon {
    margin-right: 9em;
    font-size: 1.2em;
}
span.button-text {
    padding-right: 10em;
    font-size: 1.1em;
}
span.button-icon-1 {
    margin-right: 8em;
    font-size: 1.2em;
}
span.button-text-1 {
    padding-right:8em;
    font-size: 1.1em;
}

nav.navigations {
    display: flex;
    justify-content:space-around; 
    margin-bottom: 5em;
}


h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 
}
section {
    padding-top: 0.1px;
    background-color: #f2f2f2;
}
section .menus {
    display: flex;
}
.menus img {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    width: 395px; 
    object-fit: cover;
}
figure {
   border: -1px solid white; 
    box-shadow: 4px 7px 14px -2px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;  
    width: 100%;
    padding-bottom: 13px;
}
div.menu-title {
    padding-left: 8px;
    
}
div.menu-sub-title {
    padding-left: 8px;
}
footer {
    background-color: gray;
    margin-top: 1em;
}
.rowFooter img {
    height: 3em;
    padding-left: 2em;
}
footer ul li {
    list-style-type: none;
    padding-bottom: 4px;
    color: white
}

/* For mobile phones: */

[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 300px) {
	/* For tablets: */
	.col-xs-1 {
		width: 8.33%;
	}
	.col-xs-2 {
		width: 16.66%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.33%;
	}
	.col-xs-5 {
		width: 41.66%;
	}
	.col-xs-6 {
		width: 50%;
	}
	.col-xs-7 {
		width: 58.33%;
	}
	.col-xs-8 {
		width: 66.66%;
	}
	.col-xs-9 {
		width: 75%;
	}
	.col-xs-10 {
		width: 83.33%;
	}
	.col-xs-11 {
		width: 91.66%;
	}
	.col-xs-12 {
		width: 100%;
	}
	.image1 {
		height: 200px;
	}
	.image2 {
		height: 200px;
	}
	.image3 {
		height: 200px;
	}
	.image4 {
		height: 200px;
	}
    
    div.logo {
        height: 30px;
    }
    
     h2 {
            font-size: 18px;
         }
   section .menus {
    display: flex;
    flex-direction: column;
}
    nav.navigations {
      flex-direction: column;
         }
  }
       
    @media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
   nav.navigations {
      flex-direction: column;
         }

}
    
 @media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
      }
@media only screen and (min-width: 1000px) {
	/* For desktop: */
	.col-l-1 {
		width: 8.33%;
	}
	.col-l-2 {
		width: 16.66%;
	}
	.col-l-3 {
		width: 25%;
	}
	.col-l-4 {
		width: 33.33%;
	}
	.col-l-5 {
		width: 41.66%;
	}
	.col-l-6 {
		width: 50%;
	}
	.col-l-7 {
		width: 58.33%;
	}
	.col-l-8 {
		width: 66.66%;
	}
	.col-l-9 {
		width: 75%;
	}
	.col-l-10 {
		width: 83.33%;
	}
	.col-l-11 {
		width: 91.66%;
	}
	.col-l-12 {
		width: 100%;
	}
 }
     
     @media only screen and (min-width: 1500px) {
	/* For desktop: */
	.col-xl-1 {
		width: 8.33%;
	}
	.col-xl-2 {
		width: 16.66%;
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-4 {
		width: 33.33%;
	}
	.col-xl-5 {
		width: 41.66%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-7 {
		width: 58.33%;
	}
	.col-xl-8 {
		width: 66.66%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-10 {
		width: 83.33%;
	}
	.col-xl-11 {
		width: 91.66%;
	}
	.col-xl-12 {
		width: 100%;
	}
         
    div.logo {
          height: 60px;  
         }
        h2 {
            font-size: 20px;
         }

    section .menus {
    flex-direction: row;
}
  nav.navigations {
      flex-direction: row;
         }
        nav.navigations ul {
    flex-direction:row;
    width: 100%;
          }
nav.navigations ul li {
    width: 30%;
}

     
