body {
	font-family: Roboto;
    margin: 0;
}

i.fas.fa-arrow-left.previous-arrow {
    font-size: 20px;
    color: black;
    margin-top: 5px;
}
div.logo {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}
figure.top-image1 {
	margin: unset;
}
.top-image img {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 18em;
	object-fit: cover;
	max-height: 100%;
}
section.full-palette-entrees {
	border-top-right-radius: 55px;
	border-top-left-radius: 55px;
	background: #f2f2f2;
	margin-top: -5em;
}
div.list-of-food {
	box-shadow: 4px 7px 14px -2px rgba(0.1, 0, 0, 0.1);
	background-color: white;
	border-radius: 15px;
	height: 64px;
	margin-bottom: 1em;
	margin-right: 10px;
	margin-left: 10px;
	animation: fadeInAnimation ease 3s;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
div.menu-container .first-entree, div.menu-container .icon-container {
	padding: .8rem;
}
div.menu-container {
	display: flex;
	overflow: hidden;
}
div.menu-container .first-entree {
	min-width: 0;
	width: 100%;
}
div.menu-container .icon-container {
	background-color: #99E2D0;
    border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	align-items: center;
	display: flex;
	justify-content: center;
	-webkit-transition: all 0.60s;
	height: 2.8em;
	overflow: hidden;
	padding: .7rem 0;
	width: 0;
}
div.menu-container:hover .icon-container {
	padding: 1.9rem;
	width: .65rem;
	padding: 0 1.8rem;
	width: .51rem;
	height: 4em;
}
div.menu-container:hover i.fas.fa-check-circle.fa-2x.slow.spin {
	transform: rotate(360deg);
	font-size: 1.5em;
	transition: .5s;
}

i.fas.fa-check-circle.fa-2x.slow.spin {
   font-size: 1.5em; 
}
i.fas.fa-heart.menu-heart {
	float: right;
	padding-right: 2em;
	color: transparent;
	transform: translateY(5px);
	transition: color 0.5s ease in;
	-webkit-text-stroke: 1px black;
}
i.fas.fa-heart.menu-heart:hover {
	color: #9356DC;
	-webkit-text-stroke: 1px #9356DC;
}
h1.full-palette-title {
	font-weight: 900;
	padding-top: 2em;
	padding-left: 20px;
}
h2.palette-options {
	padding-left: 20px;
	font-weight: 300;
	font-size: 16px;
}
div.first-entree {
	font-weight: 900;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 17px;
	padding-bottom: 5px;
}
div.sub-entree {
	font-size: 15px;
	font-weight: 400;
	padding-top: 5px;
}
div.price-euro {
	float: right;
	padding-right: 1em;
	width: 3em;
	padding-top: 1.5em;
	font-weight: 900;
}
div.order-btn1 {
	display: flex;
	justify-content: center;
}
button.order-btn {
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	color: white;
	height: 50px;
	border-bottom-left-radius: 27px;
	border-top-left-radius: 27px;
	border-top-right-radius: 27px;
	border-bottom-right-radius: 27px;
	font-size: 15px;
    margin-bottom: 4em;
    margin-top: 3em;
}
div.rowFooter {
	font-size: 1.3em;
	font-family: 'shrikhand', cursive;
	font-weight: 900;
	padding-left: 38px;
	padding-top: 1em;;
}
footer.footer-menu {
	border: 1px solid;

	background-color: #333333;
	color: white;

}
li.footer-list {
    list-style: none;
    padding-bottom: 7px;
    font-size: 15px;
}
li.footer-list a {
    color: white;
    text-decoration: none;

}
@media only screen and (min-width: 280px) {
    
     button.order-btn {
        width: 50%;
    }
    div.logo {
        height: 20px;
    }
}

@media only screen and (min-width: 300px) {
    
    button.order-btn {
        width: 40%;
    }
    div.logo {
        height: 30px;
    }
}

@media only screen and (min-width: 600px) {
      button.order-btn {
        width: 30%;
    }   
    
}


@media only screen and (min-width: 768px) {
      button.order-btn {
        width: 20%;
    }
    
  }  
    
    @media only screen and (min-width: 1000px) {
        
         button.order-btn {
        width: 15%;
      }
}
        
@media only screen and (min-width: 1500px) {
    
        button.order-btn {
        width: 10%;
      }
}