//div {
    outline: 1px solid black
}
body{
    font-family: Roboto;
}

div.logo {
 display: flex;
justify-content: center; 
    padding-top: 15px;
    padding-bottom: 15px;
}
div.fas.fa-map-marker-alt.fa-x {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: hidden;
    background-color: #f2f2f2;
   box-shadow: 0px -1px 6px 0 rgba(0, 0, 0, 0.30);
}
div.location-text {
    padding-left: 1em;
}

h1.Book-menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 25px
}
.Content p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
}
div.Explore {
    display: flex;
    justify-content: center;
}

button.Explore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border: none;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
}

div.How-it-works-btn {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-left: 15px;
    font-size: 25px;
    
}
button.button-1 {
    display: flex;
    justify-content: flex-start;
   align-items: center;
    border: 1px gray;;
    box-shadow: 4px 7px 14px -2px rgba(0, 0, 0, 0.20);
    margin-top: 3em;
    height: 55px;
    width: 500px;
    border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}
span.icon-and-text {
    margin-left: 2em;
}
span.button-icon {
    font-size: 1.2em;
    padding-right: 1em;
}
span.button-text {
    font-size: 1.1em;
}
span.button-numbers {
    position: absolute;
    background-color: #9356DC;
    color: white;
    margin-top: 5em;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;  
    margin-left: -5px;
}

nav.navigations {
    display: flex;
    justify-content:space-around; 
    margin-bottom: 5em;
}


h2.Restaurant {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 
}
section.List-of-menus {
    padding-top: 0.1px;
    background-color: #f2f2f2;
}
section .menus {
    display: flex;
    flex-wrap: wrap;
}
.menus img {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    width: 395px; 
    object-fit: cover;
}
 figure.box-figure {
   border: -1px solid white; 
    box-shadow: 4px 7px 14px -2px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;  
    padding-bottom: 13px;
}
div.new {
    position: absolute;
    //margin-left: 20em

}
div.menu-title {
    padding-left: 8px;
    font-size: 18px;
    color: black;
    font-weight: 900;
    
}
i.fas.fa-heart {
    float: right;
    padding-right: 1em;
    padding-top: 0.5em;
    color: transparent;
    transform: translateY(5px);
    transition: color 0.5s ease in;
    -webkit-text-stroke:1px black;
}
i.fas.fa-heart:hover {
    color: #9356DC;
    -webkit-text-stroke: 1px #9356DC;

}

div.menu-sub-title {
    padding-left: 8px;
    padding-top: 4px;
    color: black;
    font-size: 17px;
    font-weight: 300;
}
a {
    text-decoration: none;
}

footer.footer-menu {
    border: 1px solid ;
    margin-top: 3em;
    background-color: #333333;
    color: white;
}
li.footer-list {
    list-style: none;
    padding-bottom: 7px;
    font-size: 17px;
}

/* For mobile phones: */

[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 300px) {
	/* For tablets: */

	.image1 {
		height: 200px;
	}
	.image2 {
		height: 200px;
	}
	.image3 {
		height: 200px;
	}
	.image4 {
		height: 200px;
	}
    
    div.logo {
        height: 30px;
    }
    button.Explore-btn {
        width: 50%;
    }
    
     h2 {
            font-size: 18px;
         }
}
    nav.navigations {
      flex-direction: column;
        align-items: center;
         }
  }
       
    @media only screen and (min-width: 600px) {
	/* For tablets: */
     section .menus {
    display: flex;
    flex-direction: row;
           }
    
}
    
 @media only screen and (min-width: 768px) {
	/* For desktop: */
     
   nav.navigations {
            align-items: center;
        }
        button.Explore-btn {
        width: 30%;
    }
     div.menus {
    justify-content: center;
}

          
      }
@media only screen and (min-width: 1000px) {
	/* For desktop: */
    
	
     
@media only screen and (min-width: 1500px) {
	/* For desktop: */
 
    div.logo {
          height: 60px;  
         }
        h2 {
            font-size: 20px;
         }
       button.Explore-btn {
        width: 14%;
    }

    section .menus {
    flex-direction: row;
}
  nav.navigations {
      flex-direction: row;
         }
        nav.navigations ul {
    flex-direction:row;
    width: 100%;
          }
nav.navigations ul li {
    width: 30%;
}
         button.button-1 {
    width: 500px;
              }

     
