div {
   // outline: 1px solid black
}
body{
    font-family: Roboto;
}
div.logo {
 display: flex;
justify-content: center; 
    padding-top: 15px;
    padding-bottom: 15px; 
 }
figure.top-image1 {
    margin: unset;
}

.top-image img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 18em;
    object-fit: cover;
    max-height: 100%;

}
footer.footer-menu {
    border: 1px solid ;
    margin-top: 3em;
    background-color: #333333;
    color: white;
}
li.footer-list {
    list-style: none;
    padding-bottom: 7px;
    font-size: 17px;
  }
section.full-palette-entrees {
     border-top-right-radius: 55px;
     border-top-left-radius: 55px;
    background: #f2f2f2;
    margin-top: -5em;
}
div.list-of-food {
   box-shadow: 4px 7px 14px -2px rgba(0.1, 0, 0, 0.1);
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 65px;
    margin-bottom: 1em;
    margin-right: 10px;
    margin-left: 10px;
}
i.far.fa-heart.menu-heart {
    float: right;
    padding-right: 2em;
   
}
h1.full-palette-title {
    font-weight: 900;
    padding-top: 2em;
    padding-left: 20px;
}
h2.palette-options {
    padding-left: 20px;
    font-weight: 300;
    font-size: 16px
}
div.first-entree {
    font-weight: 900;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 17px;
    padding-bottom: 5px;
}
span.sub-entree {
    padding-left: 10px;
    font-size: 15px;
}
div.price-euro {
    float: right;
    padding-right: 1em;
}
div.order-btn1 {
    display: flex;
    justify-content: center;
}
button.order-btn {
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: white;
    height: 50px;
    width: 10%;
     border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    font-size: 15px;
}
